<div class="container">
    <h1>Update your todo</h1>
</div>

<div class="container" *ngIf="todoForm.dirty&&notvalid" class="text-danger">
    <span >Please Enter something in description to continue;</span>
</div>

<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty&&todoForm.invalid">
        Enter valid values
    </div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty&&description.invalid">
        Enter valid description
    </div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty&&targetDate.invalid">
        Enter valid Date
    </div>
    <form (ngSubmit)=" !todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label for="">Description</label>
            <input type="text" #description="ngModel" [(ngModel)]="todo.description" class="form-control" name="description" required="required">
        </fieldset>
    
        <fieldset class="form-group">
            <label for="">TargetDate</label>
            <input type="date" #targetDate="ngModel" [ngModel]="todo.targetDate | date:'yyyy-MM-dd'" (ngModelChange)="todo.targetDate = $event" class="form-control" name="targetDate"  required="required"> 
        </fieldset>
    
        <button type="submit" class="btn btn-success" >Save</button>
    </form>
</div>


